<div id="<%= dom_id video %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Library:</strong>
    <%= video.library_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Guid:</strong>
    <%= video.guid %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= video.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Captions:</strong>
    <%= video.captions %>
  </p>

</div>
